:root {
  --primary-color-1: #34343b;
  --primary-color-2: #242429;
  --secondary-color-1: #c5c6c1;
  --secondary-color-2: #93959477;
  --accent-color-1: #bca441;
  --accent-color-2: #4242422f;
  --error-color: #c52e42;
}

.pastel {
  --primary-color-1: #c38370;
  --primary-color-2: #a45c40;
  --secondary-color-1: #f6eee0;
  --secondary-color-2: #e4b7a0;
  --accent-color-1: #ffd700;
  --accent-color-2: #f08080;
  --error-color: #dc3545;
}

.terminal {
  --primary-color-1: #1c1d1c;
  --primary-color-2: #202220;
  --secondary-color-1: #7ca225;
  --secondary-color-2: #848484;
  --accent-color-1: #7ca225;
  --accent-color-2: #4242422f;
  --error-color: #bb2cce;
}

.crimson-tide {
  --primary-color-1: #cd1225;
  --primary-color-2: #9e1121;
  --secondary-color-1: #f7cbc6;
  --secondary-color-2: #661111;
  --accent-color-1: #faba2d;
  --accent-color-2: #be2008;
  --error-color: #fecb2d;
}

.dragon {
  --primary-color-1: #0f0000;
  --primary-color-2: #200a0a;
  --secondary-color-1: #b31313;
  --secondary-color-2: #683434;
  --accent-color-1: #b31313;
  --accent-color-2: #b31313;
  --error-color: #e3b611;
}

.blossom {
  --primary-color-1: #18181a;
  --primary-color-2: #0f0f10;
  --secondary-color-1: #e4609b;
  --secondary-color-2: #47bac0;
  --accent-color-1: #fff;
  --accent-color-2: #47bac0;
  --error-color: #b6af68;
}

.retro {
  --primary-color-1: #dad3c1;
  --primary-color-2: #918b7d;
  --secondary-color-1: #1d1b17;
  --secondary-color-2: #bf616a;
  --accent-color-1: #793e44;
  --accent-color-2: #c8c3b3;
  --error-color: #bf616a;
}

.neon-cyber {
  --primary-color-1: #000000;
  --primary-color-2: #0f0e0e;
  --secondary-color-1: #00ffff;
  --secondary-color-2: #ff00ff;
  --accent-color-1: #ff9900;
  --accent-color-2: #00ff00;
  --error-color: #ff0033;
}

.ocean-abyss {
  --primary-color-1: #001f3f;
  --primary-color-2: #012a4a;
  --secondary-color-1: #88c0d0;
  --secondary-color-2: #2e86ab;
  --accent-color-1: #ffcc00;
  --accent-color-2: #bbdefb;
  --error-color: #ff4c4c;
}

.forest-dusk {
  --primary-color-1: #2e3b2e;
  --primary-color-2: #1f291f;
  --secondary-color-1: #a4c69c;
  --secondary-color-2: #5a7d5a;
  --accent-color-1: #ffb347;
  --accent-color-2: #e08e45;
  --error-color: #e63946;
}

.vic20 {
  --primary-color-1: #3f3f3f;
  --primary-color-2: #2b2b2b;
  --secondary-color-1: #f3dfc1;
  --secondary-color-2: #a86f30;
  --accent-color-1: #ff7f00;
  --accent-color-2: #c34632;
  --error-color: #ff0000;
}

.c64 {
  --primary-color-1: #40318d;
  --primary-color-2: #322b75;
  --secondary-color-1: #a9c4e4;
  --secondary-color-2: #7f8c8d;
  --accent-color-1: #af4f2f;
  --accent-color-2: #57a64a;
  --error-color: #d91e18;
}
