/* DropdownMenu.module.css */
.optionIcon {
  font-size: 2vh;
  color: var(--secondary-color-2);
  margin-left: 0.5vw;
  margin-top: 1vh;
}

.dropdown {
  position: relative;
  display: inline-block;
  font-family: "Roboto Mono", monospace;
}

.dropdownToggle {
  background: transparent;
  border: none;
  cursor: pointer;
}

.dropdownToggle :hover {
  color: var(--secondary-color-1);
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  list-style-type: none;
  padding: 0;
  margin-top: 5px;
}

.dropdownMenu li {
  padding: 10px;
  cursor: pointer;
  background-color: var(--primary-color-1);
  transition: background-color 0.3s, color 0.3s; /* Add transition */
  white-space: nowrap; /* Prevent text wrapping */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis;
  color: var(--secondary-color-2); /* Show ellipsis if text overflows */
}

.dropdownMenu li:hover {
  background-color: var(--primary-color-2);
  color: var(--secondary-color-1); /* Change text color on hover */
}
