/* Footer.module.css */
.footer {
  padding: 20px;
  padding-bottom: 5vh;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-left: 10vw;
}

.footerIcons {
  display: flex;
  justify-content: flex-start;
  gap: 2vw;
}

.footerIcons a {
  font-size: 12px;
  color: var(--secondary-color-2);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.footerIcons a:hover {
  color: var(--secondary-color-1);
}

.sourceCodeIcon {
  font-size: 16px;
  color: var(--secondary-color-2);
  margin-top: 0.2vh;
  transition: color 0.3s ease;
}

.sourceCodeIcon:hover {
  color: var(--secondary-color-1);
}
