.inputArea {
  position: relative;
  margin-top: 7.5vh;
}

.blur-effect {
  filter: blur(5px);
}

.no-blur {
  filter: none;
}

.focus-text {
  height: 5vh;
  width: auto;
}
.text-container {
  font-family: "Roboto Mono", monospace;
  color: #93959477;
  font-size: 32px;
  line-clamp: 3;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 5vh;
  padding-bottom: 20vh;
  text-align: justify;
  text-align-last: start;
  overflow: hidden;
  transition: filter 0.3s ease;
}

.text-container.blurred {
  filter: blur(5px);
}

.invisible-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: text;
}

.blinking-cursor {
  font-size: 36px;
  color: #bca441;
  border: 0.5px solid #bca441;
  animation: blink 1s step-end infinite;
  margin-top: -10vh;
  border-radius: 4px;
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #bca441;
  }
}

.focus-container {
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
  position: absolute;
  top: 25vh;
  left: 0;
  right: 0;
  text-align: center;
  pointer-events: none;
  transition: opacity 0.3s;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 10px;
  color: #93959477;
}

.focus-container.hidden {
  opacity: 0;
}

@media only screen and (max-width: 600px) {
  .focus-container {
    top: 35vh;
  }

  .text-container {
    font-size: 24px;
  }
}

.timer-container {
  position: absolute;
  top: 20vh; /* Adjust to position just above text-container */
  left: 10vw; /* Adjust left margin as needed */
  font-family: "Roboto Mono", monospace;
  color: #bca441;
  font-size: 48px;
  text-align: left;
}

.ModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(
    0,
    0,
    0,
    0.3
  ); /* semi-transparent black with 30% opacity */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure the modal is on top of everything */
}

.ModalContent {
  position: relative;
  background-color: #34343b; /* dark navy color */
  width: 30%; /* take up 30% of the viewport width */
  height: 40%; /* take up 40% of the viewport height */
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 10000; /* Ensure the modal content is on top of the overlay */
}

.CloseButton {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #93959477;
  cursor: pointer;
  background: none;
  border: none;
  padding: 10px;
  font-size: 1.5em; /* increase button size */
}

.CloseButton:hover {
  color: #ddd; /* light grey on hover */
}

.modal-heading {
  color: #93959477;
  font-family: "Roboto Mono", monospace;
  font-size: 36px;
  margin-bottom: 10px; /* Adjust margin between heading and stats */
}

.modal-stat {
  color: #bca441;
  font-family: "Roboto Mono", monospace;
  font-size: 48px;
  margin-top: 10px; /* Adjust margin between stats and close button */
}
