.inputArea {
  position: relative;
  margin-top: 10vh;
}

.text-container {
  font-family: "Roboto Mono", monospace;
  color: #93959477;
  font-size: 44px;
  line-clamp: 3;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 10vh;
  padding-bottom: 20vh;
  text-align: justify;
  /* This helps to justify the last line */
  text-align-last: start;
  overflow: hidden;
}

.invisible-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  opacity: 0;
  cursor: text;
}

.blinking-cursor {
  font-size: 36px;
  color: #bca441;
  border: 1px solid #bca441;
  animation: blink 1s step-end infinite;
  margin-top: -10vh;
  border-radius: 4px;
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #bca441;
  }
}
