/* Modal.module.css */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modalContent {
  position: relative;
  background-color: var(--primary-color-1);
  width: 30%;
  height: 40%;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 10000;
}
.timerModalContent {
  position: relative;
  background-color: var(--primary-color-1);
  width: 50vw;
  height: 50vh;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  z-index: 10000;
  overflow: auto;
}

@media (max-height: 1024px) {
  .timerModalContent {
    height: 80vh;
    width: 60vw;
  }
}

.statsRow {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.statItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 4vw;
  padding-right: 4vw;
  margin-left: 2vw;
  margin-right: 2vw;
  background-color: var(--primary-color-2);
  border-radius: 12px;
}

.modalHeading {
  color: var(--secondary-color-2);
  font-family: "Roboto Mono", monospace;
  font-size: 36px;
  margin-bottom: 5px;
}

.chartContainer {
  width: 40vw;
  height: 40vh;
}

.modalStat {
  color: var(--accent-color-1);
  font-family: "Roboto Mono", monospace;
  font-size: 80px;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--secondary-color-2);
  cursor: pointer;
  background: none;
  border: none;
  padding: 10px;
  font-size: 1.5em;
}

.closeButton:hover {
  color: var(--secondary-color-1);
}

.infoTextHeader {
  color: var(--secondary-color-2);
  font-family: "Roboto Mono", monospace;
  font-size: 36px;
}

.infoText {
  color: var(--secondary-color-2);
  font-family: "Roboto Mono", monospace;
  font-size: 24px;
}
