.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modalContent {
  position: relative;
  background-color: var(--primary-color-1);
  width: 40%;
  max-width: 500px;
  height: 60%;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  z-index: 10000;
  overflow: hidden;
}

.modalBody {
  flex: 1;
  overflow-y: auto;
  max-height: 100%;
  width: 100%;
  padding-right: 10px;
}

.modalBody::-webkit-scrollbar {
  width: 8px;
}

.modalBody::-webkit-scrollbar-track {
  background: var(--primary-color-2);
  border-radius: 8px;
}

.modalBody::-webkit-scrollbar-thumb {
  background: var(--secondary-color-1);
  border-radius: 8px;
}

.modalBody::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color-2);
}

@media (max-width: 1024px) {
  .modalContent {
    width: 70%;
    height: 50%;
  }

  .modalBody {
    max-height: 100%;
  }

  .themeCard,
  .soundCard {
    font-size: 14px;
    padding: 8px 12px;
  }
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--secondary-color-2);
  cursor: pointer;
  background: none;
  border: none;
  padding: 10px;
  font-size: 1.5em;
}

.closeButton:hover {
  color: var(--secondary-color-1);
}

.optionIcon {
  margin-right: 8px;
}

.infoTextHeader {
  color: var(--secondary-color-2);
  font-family: "Roboto Mono", monospace;
  font-size: 24px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 20px;
  padding-left: 0.5vw;
}

.themeGrid,
.soundGrid,
.languageGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  overflow: visible;
  padding-left: 0.5vw;
}

.languageGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  overflow: visible;
  padding-left: 0.5vw;
}

.themeCard {
  background-color: var(--primary-color-1);
  color: var(--secondary-color-1);
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  border: 3px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.themeCard:hover {
  background-color: var(--secondary-color-1);
  color: var(--primary-color-1);
  transform: scale(1.1);
}

@media (max-width: 1024px) {
  .modalContent {
    width: 70%;
    height: 50%;
  }

  .themeCard {
    font-size: 14px;
    padding: 8px 12px;
  }
}

.modalToggle {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 2vh;
  color: var(--secondary-color-2);
  margin-left: 0.6vw;
  margin-top: 1vh;
}

.modalToggle :hover {
  color: var(--secondary-color-1);
}

.soundCard,
.languageCard {
  background-color: var(--primary-color-1);
  color: var(--secondary-color-1);
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  border: 3px solid var(--secondary-color-2);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.soundCard:hover {
  background-color: var(--secondary-color-1);
  color: var(--primary-color-1);
  transform: scale(1.1);
}

.languageCard:hover {
  background-color: var(--secondary-color-1);
  color: var(--primary-color-1);
  transform: scale(1.1);
}

.selected {
  color: var(--accent-color-1);
  background-color: var(--primary-color-2);
  transform: scale(1.1);
}
