.focus-instructions {
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
  position: absolute;
  top: 25vh;
  left: 0;
  right: 0;
  text-align: center;
  pointer-events: none;
  transition: opacity 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #93959477;
}

.focus-instructions.hidden {
  opacity: 0;
}

@media only screen and (max-width: 600px) {
  .focus-instructions {
    top: 35vh;
  }
}

.focus-icon {
  color: #93959477;
}

.focus-label {
  color: #93959477;
}
