.inputArea {
  position: relative;
  margin-top: 7.5vh;
}

.focusText {
  height: 5vh;
  width: auto;
}

.invisibleInput {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: text;
}

@media only screen and (max-width: 600px) {
  .focusContainer {
    top: 35vh;
  }
}

.timerContainer {
  position: absolute;
  top: 20vh; /* Adjust to position just above text-container */
  left: 10vw; /* Adjust left margin as needed */
  font-family: "Roboto Mono", monospace;
  color: var(--accent-color-1);
  font-size: 48px;
  text-align: left;
}
