.inputArea {
  position: relative;
  margin-top: 7.5vh;
}

.blur-effect {
  filter: blur(5px);
}

.no-blur {
  filter: none;
}

.focus-text {
  height: 5vh;
  width: auto;
}

.text-container {
  font-family: "Roboto Mono", monospace;
  color: #93959477;
  font-size: 32px;
  line-clamp: 3;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 5vh;
  padding-bottom: 20vh;
  text-align: justify;
  text-align-last: start;
  overflow: hidden;
  transition: filter 0.3s ease;
}

.text-container.blurred {
  filter: blur(5px);
}

.invisible-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: text;
}

.blinking-cursor {
  font-size: 36px;
  color: #bca441;
  border: 0.5px solid #bca441;
  animation: blink 1s step-end infinite;
  margin-top: -10vh;
  border-radius: 4px;
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #bca441;
  }
}

@media only screen and (max-width: 600px) {
  .focus-container {
    top: 35vh;
  }

  .text-container {
    font-size: 24px;
  }
}

.timer-container {
  position: absolute;
  top: 20vh; /* Adjust to position just above text-container */
  left: 10vw; /* Adjust left margin as needed */
  font-family: "Roboto Mono", monospace;
  color: #bca441;
  font-size: 48px;
  text-align: left;
}
