.textDisplay {
  font-family: "Roboto Mono", monospace;
  color: var(--secondary-color-2);
  font-size: 5vh;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 6vh;
  padding-bottom: 20vh;
  line-height: 1.6;
  text-align: left;
  overflow: hidden;
}

.blurred {
  filter: blur(5px);
}

.textDisplay span {
  display: inline;
}

.correctChar {
  color: var(--secondary-color-1);
  text-decoration: none;
}

.incorrectChar {
  color: var(--error-color);
  text-decoration: underline;
  text-underline-offset: 2vh;
}

@media only screen and (max-width: 600px) {
  .textDisplay {
    font-size: 2.5vh;
  }
}

.underlinedWord {
  text-decoration: underline;
  text-underline-offset: 2vh;
  text-decoration-color: var(--accent-color-1);
}

@keyframes blink {
  0%,
  100% {
    text-decoration-color: transparent;
  }
  50% {
    text-decoration-color: #bca441;
  }
}
