.textDisplay {
  font-family: "Roboto Mono", monospace;
  color: var(--secondary-color-2);
  font-size: 32px;
  line-clamp: 3;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 5vh;
  padding-bottom: 20vh;
  text-align: justify;
  text-align-last: start;
  overflow: hidden;
  transition: filter 0.3s ease;
}

.blurred {
  filter: blur(5px);
}

.textDisplay span {
  display: inline;
}

.correctChar {
  color: var(--secondary-color-1);
  text-decoration: none;
}

.incorrectChar {
  color: var(--error-color);
  text-decoration: underline;
  text-underline-offset: 8px;
}

@media only screen and (max-width: 600px) {
  .textDisplay {
    font-size: 24px;
  }
}
