html,
body,
#root {
  height: 100%; /* Ensure the root element takes up full viewport height */
  margin: 0; /* Remove default margin */
  background-color: var(--primary-color-1);
}

@keyframes blurIn {
  from {
    opacity: 0.95;
    filter: blur(10px);
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}
.AppContainer {
  display: flex;
  min-height: 100vh;
  background-color: var(--primary-color-1);
  animation: blurIn 0.8s ease-in-out;
}

.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
