.cb {
  margin-top: 2vh;
  background-color: #28282e;
  border-radius: 10px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  padding-left: 12px;
  padding-right: 16px;
}

.cbButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.3s, color 0.3s;
  align-items: center;
  justify-content: center;
  float: left;
  display: flex;
  margin-right: 12px;
  margin-left: 4px;
}

.cbRadioButton {
  display: none; /* Hide the radio button */
}

.cbOptionIcon {
  margin-left: 0.5vw;
  font-size: 16px;
  color: #93959477;
  float: left;
  transition: color 0.3s;
}

.cbButtonText {
  font-family: "Roboto Mono", monospace;
  color: #93959477;
  font-size: 16px;
  margin-left: 8px;
  float: left;
  transition: color 0.3s;
}

.cbButton:hover .cbOptionIcon,
.cbButton:hover .cbButtonText {
  color: #c5c6c1;
}

.cbButton.selected .cbOptionIcon,
.cbButton.selected .cbButtonText {
  color: #bca441;
}

.cbDivider {
  height: 30px;
  width: 4px;
  background-color: #4242422f;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 1.3vh;
  float: left;
}
