/* styles.module.css */

.container {
  margin-top: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.innerContainer {
  background-color: var(--primary-color-2);
  border-radius: 10px;
  padding-left: 12px;
  padding-right: 16px;
}

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.3s, color 0.3s;
  align-items: center;
  justify-content: center;
  float: left;
  display: flex;
  margin-right: 12px;
  margin-left: 4px;
}

.radioButton {
  display: none; /* Hide the radio button */
}

.icon {
  margin-left: 0.5vw;
  font-size: 16px;
  color: var(--secondary-color-2);
  float: left;
  transition: color 0.3s;
}

.buttonText {
  font-family: "Roboto Mono", monospace;
  color: var(--secondary-color-2);
  font-size: 16px;
  margin-left: 8px;
  float: left;
  transition: color 0.3s;
}

.button:hover .icon,
.button:hover .buttonText {
  color: var(--secondary-color-1);
}

.button.selected .icon,
.button.selected .buttonText {
  color: var(--accent-color-1);
}

.divider {
  height: 30px;
  width: 4px;
  background-color: var(--accent-color-2);
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 1.3vh;
  float: left;
}
